<!DOCTYPE html>
<!-- 
/*
 * This file is part of VDC-Resolution-Engine.
 * 
 * VDC-Resolution-Engine is free software: you can redistribute it 
 * and/or modify it under the terms of the GNU General Public License as 
 * published by the Free Software Foundation, either version 3 of the License, 
 * or (at your option) any later version.
 * 
 * VDC-Resolution-Engine is distributed in the hope that it will be 
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with VDC-Resolution-Engine.  
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * VDC-Resolution-Engine is being developed for the
 * DITAS Project: https://www.ditas-project.eu/
 */ 
 --> 
<html>
<head>
<meta charset="ISO-8859-1">
<title>DITAS</title>
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
	

}
p.good{
   color:green;
}
p.bad{
    color:red;
}

</style>

</head>
<body ng-app="app">

	<div style="margin-top: 3%;">
		<center>

			<a href="https://www.ditas-project.eu/"> <img
				src="https://pbs.twimg.com/profile_images/831807429872594944/xOxMQeoy.jpg"
				width="15%" height="15%">
			</a>
		</center>
	</div>
	<div ng-controller="searchController">

		<div class="col-md-4 col-md-offset-4">

			<div>
				<textarea type="text" class="form-control" name="searchText"
					placeholder="Search..." ng-model="searchText"
					style="width: 100%; margin-top: 20%; font-size: 14px; height: 200px">Enter JSON...</textarea>
				<div class="col-md-4 col-md-offset-4">
					<button class="btn btn-primary mb-2" ng-click="search()"
						style="width: 100%; margin-top: 8%; background-color: #006400">Search</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3"
		style="margin-top: 5%; margin-bottom: 10%; height: 1000px; overflow-y: auto;">
		<center>
			<h1 style="color: #006400; font-weight: 700; margin-bottom: 5%"
				ng-show="search">Results</h1>
		</center>
		<div class="row">
			<ul style="list-style-type: none" ng-repeat="blueprint in results">
				<li><a target="_blank">
					<!--  ng-href="http://31.171.247.162:50009/blueprints/"-->
						<div class="col-md-10 col-md-offset-1"
							style="border-style: solid; border-color: lightgrey; border-width: 1px; border-radius: 3px; color: black; margin-bottom: 3%">
							<div style="margin-bottom: 3%; margin-top: 3%">

								<h3>{{blueprint.description}}</h3>
								<p>
									<strong>Blueprint name: </strong>{{blueprint.name}}
								</p>
								<p>
									<strong>Related methods: </strong>{{blueprint.methods}}
								</p>
								<p>
									<button type="button" class="btn btn-success pull-right" ng-click="deployBlueprint(blueprint)">Deploy Blueprint</button>
								</p>
							</div>
						</div>
				</a></li>
			</ul>


		</div>
	</div>
</body>

<!-- jquery, angularjs, bootstrap scripts-->

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.angularjs.org/1.6.6/angular.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	



<!-- angularjs application -->
<script src="app.js"></script>
<script src="parseService.js"></script>

</html>
